<nav>
	<div class="left">
		<h3>Book DriveTest</h3>
	</div>
	<div class="right">
		<ul>
			<li><a href="/">Dashboard</a></li>
			<li><a href="/g2Test">G2 Test</a></li>
			<li><a href="/gTest">G Test</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</nav>
