<nav>
	<div class="left">
		<h3>Book DriveTest</h3>
	</div>
	<div class="right">
		<ul>
			<li><a href="/">Dashboard</a></li>
			<% if (loggedIn) { %> <% if (userData.userType == 'driver') { %>
			<li><a href="/g2Test">G2 Test</a></li>
			<li><a href="/gTest">G Test</a></li>
			<li><a href="/testResult">Test Results</a></li>
			<% } else if (userData.userType == 'admin') { %>
			<li><a href="/appointment">Appointment</a></li>
			<li><a href="/candidate">Candidates</a></li>
			<% } else if (userData.userType == 'examiner') { %>
			<li><a href="/examiner">Examiner</a></li>
			<% } %>
			<li>
				<a href="/delete/<%= userData._id %>" class="delete">Delete</a>
			</li>
			<li>
				<form action="/logout" method="post" class="logout">
					<button type="submit">Logout</button>
				</form>
			</li>
			<% } else { %>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Sign Up</a></li>
			<% } %>
		</ul>
	</div>
</nav>
