<%- include('./partials/header') %>
<body>
	<%- include('./partials/nav')%>
	<main>
		<%- include('./partials/banner') %>
		<form action="/appointment" method="post">
			<label for="date">Appointment Date</label>
			<input
				type="date"
				id="admin-appointment-date"
				name="appointmentDate"
			/>
			<label for="time">Time Slot</label>
			<select name="timeslot" id="admin-time-slot">
				<option value="0" selected>Choose a time...</option>
				<option value="09:00">09:00</option>
				<option value="09:30">09:30</option>
				<option value="10:00">10:00</option>
				<option value="10:30">10:30</option>
				<option value="11:00">11:00</option>
				<option value="11:30">11:30</option>
				<option value="12:00">12:00</option>
				<option value="12:30">12:30</option>
				<option value="01:00">01:00</option>
				<option value="01:30">01:30</option>
				<option value="02:00">02:00</option>
			</select>
			<button type="submit">Submit</button>
		</form>
	</main>
	<%- include('./partials/footer') %>
</body>
