<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header') %>
	<body>
		<%- include('./partials/nav')%>
		<header></header>
		<main>
			<%- include('./partials/banner') %>
			<div class="placeholder2">
				<h2>You can book G2/G driving test from this Kiosk.</h2>
				<h3>You can book G2/G driving test from this Kisok.</h3>
				<p>
					Posted By <em><strong>Drive Test Centre</strong></em>
				</p>
			</div>
		</main>
		<%- include('./partials/footer') %>
	</body>
</html>
