<%- include('./partials/header') %>
<body>
	<%- include('./partials/nav') %>

	<main>
		<%- include('./partials/banner') %>

		<form method="post" action="/login" id="login-form">
			<label for="username">Username</label>
			<input
				type="text"
				class="username"
				id="username"
				placeholder="Enter username"
				name="username"
			/>
			<span class="err"></span>
			<label for="password">Password</label>
			<input
				type="password"
				class="password"
				id="password"
				placeholder="Password"
				name="password"
			/>
			<span class="err"></span>
			<button type="submit">Submit</button>
		</form>
	</main>
</body>
<%- include('./partials/footer') %>
