<%- include('./partials/header') %>
<body>
	<%- include('./partials/nav')%>

	<main>
		<%- include('./partials/banner') %>

		<form method="post" action="/signup" id="signup-form">
			<label for="username">Username:</label>
			<input
				type="text"
				class="username"
				id="username"
				placeholder="Enter username"
				name="username"
			/>
			<span class="err"></span>

			<label for="password">Password</label>
			<input
				type="password"
				class="password"
				id="password"
				placeholder="Password"
				name="password"
			/>
			<span class="err"></span>
			<label for="password">Confirm Password</label>
			<input
				type="password"
				class="password"
				id="confirmpassword"
				placeholder="Confirm password"
				name="confirmpassword"
			/>
			<span class="err"></span>
			<label for="usertype">Select User Type</label>
			<select name="usertype" id="usertype">
				<option value="driver">Driver</option>
				<option value="examiner">Examiner</option>
				<option value="admin">Admin</option>
			</select>

			<button type="submit">Submit</button>
		</form>
	</main>
</body>
<%- include('./partials/footer') %>
